.sliderCustom {
     min-height:100px;
     height:auto !important;
     height:100px;
}
.item {
    margin: 80px;
}
.logo {
	text-align: center;
	background-size: "80%";
}
.container a img {
	height: 100%;
	width: 100%;
	text-align: center;
}
.carousel-inner {
	background-color:#CCC;
}
/*
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; 
     zoom:1; 
}

.nav-tabs, .nav-pills {
    text-align:left;
}*/
/*
.tabParent {
	position:relative; 
}
.tabList {
   position:absolute;
   bottom:0;
   left:0;
}*/