body { background-color:#F2F2F2; }
.container {
	padding: 45px 20px 20px 20px; /* trbl */
	background-color:#fff;/*#F2F2F2;*/
	margin-top: 10px;
	border-radius:25px;
	box-shadow: 2px 2px 2px #888;
}

.container a img {
	min-height: 100px;
	margin: -35px 0px 20px 0px;
}
.nav-tabs, .nav-pills {
   	margin: 10px 0px 30px 0px; /* trbl */
}
.middleArea {
	width: auto;
	min-height: 300px;
	height: auto !important;
    height: 300px; 
}
.sliderCustom {
    min-height:100px;
    height:auto !important;
    height:100px;
}
.carousel {
	background-color:#D8D8D8;/*#E0ECF8;*/
}
.carousel-inner {
	width: auto;
	min-height: 280px;
	height: auto !important;
    height: 280px; 
}
.item {
	/*margin-top: 10%;
	text-align:center;*/
    margin: 70px;
	/*font-size:40px;
	font-style:italic;*/
}
.textArea {
	text-align:middle;
}
.textBox {
	margin-top:50px;
}
#footer { 
	color:#333;
	/*background-color:#e4e4e4;*/
	padding-top:55px;
	padding-left:15px;
}
